/*Styles for Welcome component*/
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
}

.welcome-container h2,
.welcome-container p {
    color: #333;
    margin-bottom: 10px;
}