/*Styles for Welcome component*/
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.welcome-section h1,
.welcome-section h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles for the sign-in */

.welcome-section .sign-in {
    margin-top: 20px;
}

.welcome-section span {
    margin-top: 15px;
    color: #FFFFFF;
}

.welcome-section span a {
    color: #FFD700;
    text-decoration: none;
    cursor: pointer;
}

.welcome-section span a:hover {
    text-decoration: underline;
}

/* Styles for buttons */
.welcome-section button {
    width: 20vw;
    height: 5vh;
}