.header-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 2px solid #e9ecef;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header-container nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-container nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.header-container nav ul li a:hover {
    color: #667eea;
}

.home-container {
    padding: 20px;
    color: #343a40;
    background-color: #ffffff;
    width: 100vw;
    height: 90vh;

}